:root {
  --header-height: 5.5rem;

  --dark-gray : #201E1E;
  --ligth-gray : #373434;

  --bg-green: #54671d;
  --bg-green-light: #677a1e;


  --text-green: #617721;
  --text-secondary-green: #54671d;
  --text-ligth: #d4e494;
  --green-light: #accc4c;

  --swiper-theme-color: #accc4c;

  font-size: 87.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

button,
textarea,
input {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

#header {
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--dark-gray);
  width: 100%;
  height: var(--header-height);
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

main {
  margin-top: calc(var(--header-height) + 4rem);
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
  max-width: 100px;
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
  color: white;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--green-light);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
  font-weight: bold;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
  margin: 0;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--bg-green);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

.uk-card-title {
  visibility: 1 !important;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--green-light);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/* MAIN *******************/

main {
  margin-top: calc(var(--header-height));
}

#home {
  width: 100%;
  height: calc((100vh - var(--header-height)));
  background-color: var(--dark-gray);
  overflow-x: hidden;
}

#home .container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  height: 100%;
}

#home .container .home-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}


#home .container .home-container .home-description{
  display: flex;
  flex-direction: column;
}

#home .container .home-container .home-description h1 {
  margin-top: -6rem;
  font-size: 1.5rem;
  text-align: center;
  color: var(--green-light);
  margin: 0 auto;

  font-family: 'Poppins' sans-serif;
  font-weight: bold;
}


#home .container .home-container .home-description p {
  text-align: center;
  color: white;
}

#home .container .home-container .home-cover {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

#home .container .home-container .home-cover img{
  width: 100%;
  max-width: 500px;
  position: relative;
  z-index: 1;
}

#home-cover-blur{
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(217, 217, 217, 0.666667) 47.4%, rgba(217, 217, 217, 0) 100%);
  filter: blur(130px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 70%;
  z-index: 0;
}

#products {
  padding: 10rem 0;
  background-color: var(--dark-gray);
}

#products .container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

#products .container > div >h3{
  font-size: 2rem;
  font-weight: bold;
  color: var(--green-light);
}

#products .container > div > p{
  color: #FFFFFF;
  max-width: 700px;
  text-align: center;
}

#product-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

#product-slider h4{
  color: white !important;
}

.products-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.product-card {
  background-color: var(--ligth-gray);
  padding: 2rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 200px;
  max-height: 250px;
}

.product-card img{
  width: 70%;
  max-width: 200px;
}

#product-copy {
  color: var(--dark-gray);
  width: 100%;
  display: flex;
  justify-content: center;
}

#product-copy h3{
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

#about {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

#about .about-area{

  width: 90%;
  max-width: 1120px;

  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  color: var(--bg-green-light);
}

#about .about-area .description {
  display: grid;
  gap: 1rem;
}


#about .about-area .description h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--green-light);
}

#about .about-area .description p {
  font-size: 1rem;
  color: var(--dark-gray);
}

#about .about-area img {
  width: 100%;
}

#services-resum {
  width: 100%;
  padding: 8rem 1rem;
  font-display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-resum-description h3{
  color: var(--green-light);
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.services-resum-description p{
  color: var(--dark-gray);
  text-align: center;
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto;
}

#services-resum .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#services-resum .content .cards{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#services-resum .content .cards .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

#services-resum .content .cards .card p{
 text-align: center;
}

#service .container .services-content  {
  display: flex;
  flex-direction: column;

}

#service .container .services-content-reverse  {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;

}

#service .container .services-content h5,
#service .container .services-content-reverse  h5{
  font-size: 2rem;
  margin-top: 4rem;
  color: var(--green-light);
  font-weight: bold;

}

#results {
  margin-top: 10rem;
}

#results .container > h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 5rem;
  text-align: left;
  color: #677a1e;
}


.uk-card {
  height: 700px;
}

#client-results {
  padding: 8rem 1rem;
  text-align: center;
}

#client-results h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: #677a1e;
}

#client-results p{
  width:90%;
  margin: 0 auto;
  margin-bottom: 4rem;
  color: #54671d;
}

footer {
  background-color: var(--dark-gray);
  padding: 4rem 1rem;
}

footer .container {
  display: grid;
  gap: 3rem;
}

footer .container .contact-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

footer .container .contact-data .footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer .contact-map {
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
}

footer .container .footer-links .footer-contact {
  width: 100%;
  padding: 0 1rem;
}

footer .container .footer-links .footer-contact h3 {
  font-size: 1.5rem;
  color: #accc4c;
  margin-bottom: 2rem;
}

footer .contact-links {
  display: grid;
  gap: 1rem;
}

footer .contact-links a {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 30px 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

footer .contact-links a i,
footer .social-media-links .links a i {
  font-size: 1.5rem;
  color: #accc4c;
}

footer .contact-links a i {
  font-size: 1.5rem;
  color: #accc4c;
}

.social-media-links {
  margin-top: 4rem;
  padding-left: 1rem;
}

.social-media-links h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #accc4c;
}

.social-media-links .links {
  display: flex;
  gap: 1rem;
}

.social-media-links .links a{
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
  text-decoration: none;
}
.social-media-links .links a i {
  font-size: 2.6rem;
  color: #accc4c;
}

.footer-footer {
  margin-top: 6rem;
  display: grid;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 0.8rem;
}

.footer-footer img {
  margin: 1rem auto;
  max-width: 200px;
}

@media (min-width: 1100px) {
  :root {
    font-size: 93.75%;
  }

  nav .menu {
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav ul li a {
    color: white;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
  }

  nav .icon-menu {
    display: none;
  }

  /* main layout */

  #home .container {
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }

  #home h1 {
    margin-top: -6rem;
    font-size: 2.5rem;
    text-align: left;
    width: 55%;
    margin: 0;
  }
}

@media (max-width: 400px) {
  :root {
    font-size: 79%;
  }

  #services .content .services-card {
    grid-template-columns: 1fr;
  }

  .uk-slider-container-offset {
    margin: 0;
    padding: 0;
  }

  footer .container .footer-links .footer-contact {
    font-size: 0.6rem;
  }
}

@media (min-width: 600px) {
  .uk-card {
    height: 760px;
  }
}

@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }


  .menu {
    display: grid;
    justify-content: flex-end;
    align-items: center;
  }

  #home .container .home-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }

  #home .container .home-container .home-description h1{
    text-align: start;
    width: 100%;
    font-size: 1.8rem;
  }

  #home .container .home-container .home-description p{
    text-align: start;
  }

  #service .container .services-content,
  #service .container .services-content-reverse   {
    display: flex;
    flex-direction: row;
    gap: 4rem;

  }

  #service .container .services-content  h5,
  #service .container .services-content-reverse h5{
    font-size: 2rem;
    margin-top: 4rem;
    color: var(--green-light);
    text-align: right;
  }

  #service .container .services-content-reverse h5{
    text-align: left;
  }

  #service .container .services-content  p{
    text-align: right;
  }

  .products-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  #about {
    grid-template-columns: 1fr 1fr;
  }

  #about .about-area{
    grid-template-columns: repeat(2, 1fr);
  }

  #about .description {
    align-content: center;
  }

  #about .description p {
    width: 80%;
  }

  #services .container {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #services-resum .content .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }


  #prevent .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'text cover';
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }


  .uk-card {
    height: 800px;
  }



  #client-results h3{
    font-size: 2.2rem;

  }

  #client-results p{
    width:60%;

  }


  footer .container .contact-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem
  }


  footer .footer-links {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: start;
  }

  .social-media-links {
    margin-top: 0;
  }
}
